$font-stack: Helvetica, serif;   

$collapsible-height: 3rem;
$collapsible-header-color: #fff;
$collapsible-border-color: #ddd;
$sidenav-padding: 16px !default;

$gutter-width: 1.5rem;
$element-top-margin: $gutter-width/3;
$element-bottom-margin: ($gutter-width*2)/3;